<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<table border="1" cellpadding="10">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Surname</td>
    <td>Role</td>
  </tr>
  <tr>
    <td th:text="${user.getId()}">VALUE</td>
    <td th:utext="${user.getName()}">VALUE</td>
    <td th:utext="${user.getSurname()}">VALUE</td>
    <td th:text="${#strings.substring(user.getRoles(),1, #strings.length(user.getRoles())-1)}">Roles</td>
  </tr>
</table>
<br>
<hr/>
</form>
<p>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="Logout"/></p>
</form>
</body>
</html>